:root {
    --smoky-black: #0F0A0A;
    --isabelline: #F5EFED;
    --white: #FFFFFF;
    --blue: #2292A4;
    --citrine: #BDBF09;
    --cocoa-brown: #D96C06;
    --red-alert: #b81717;
}

body {
    font-family: 'Roboto Mono', monospace;
    color: var(--smoky-black);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Play', sans-serif;
    font-weight: bold;
}

.navbar {
    background-color: var(--citrine);
}

#cabecalho .nav .nav-link.active {
    background-color: var(--white);
    color: var(--citrine);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-jogos .nav-link.active:hover {
    color: var(--white);
}

.navbar-toggler {
    background-color: var(--isabelline);
}

.text-citrine {
    color: var(--citrine);
}

.nav-jogos .nav-link.active {
    background-color: var(--citrine);
    color: var(--white);
}

.nav-jogos .nav-link:hover {
    color: var(--citrine);
}

#sobre-a-gamerland,
#jogos {
    background-color: var(--isabelline);
}

#fale-conosco {
    background-color: var(--cocoa-brown);
    color: var(--white);
}

#fale-conosco button {
    background-color: var(--white);
    color: var(--cocoa-brown);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.social-links a i {
    color: var(--white);
}

.error-message {
    background-color: var(--red-alert);
    color: var(--white);
    font-size: 14px;
    margin-top: 8px;
    display: block;
    padding: 8px;
    border-radius: 8px;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

